[submodule "StimServer"]
	path = extern/StimServer
	url = git@github.com:joschaschmiedt/StimServer.git
[submodule "psychopy"]
	path = extern/psychopy
	url = git@github.com:joschaschmiedt/psychopy.git
[submodule "extern/Psychtoolbox-3"]
	path = extern/Psychtoolbox-3
	url = https://github.com/Psychtoolbox-3/Psychtoolbox-3.git
